* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f5f5f5; */
}
.header {
  background-color: #f5f5f5;
  color: black;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr 1fr;
}

.header-item {
  text-align: center;
}
main {
  max-width: 84%;
  margin-bottom: 30px;
  margin-left: 113px;
  margin-top: 12px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 500;
}
.nav-links {
  padding: 20px 15px;
}

li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
/* Hover effect for links */
li a:active {
  color: #7fad39;
}
li a:hover {
  color: #7fad39;
}

.sidebar {
  border: 2px solid #f1f3ee;
  max-width: 200px;
  /* margin: 10px; */
}
.dept {
  text-align: center;
  background-color: #7fad39;
  color: #fff;
  padding: 10px;
}

.category {
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
}
.category li {
  padding-bottom: 20px;
}
.category li a {
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 30px;
}

.content {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  grid-template-columns: 1fr 4fr;
}

/* .search {
  padding: 20px;
} */
#category {
  padding: 10px;
  border: 1px solid #b2b2b2;
  outline: none;
}
.search {
  width: 55vw;
}
.search input {
  padding: 11px;
  width: 285px;
  outline: none;
  border: 1px solid #b2b2b2;
}
.input-width {
  padding: 11px;
  width: 200px;
  outline: none;
  border: 1px solid #b2b2b2;
}
.btn-search {
  /* height: 30px; */
  padding: 12px;
  background-color: #7fad39;
  color: #fff;
  border: none;
  width: 115px;
}

.bg-landing {
  display: block;
  height: 70vh;
  margin-top: 10px;
  background-image: url(https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg.webp);
  background-repeat: no-repeat;
}
.landing-text {
  padding-top: 10%;
  margin-left: 10%;
}

.fruit-fresh {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #7fad39;
  margin-bottom: 5px;
  margin-top: 5px;
}
.landing-heading {
  margin-bottom: 10px;
}
.landing-pickup {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #2c2a2a;
}

.support {
  font-size: 12px;
}
.card {
  box-shadow: 0 4px 8px 0 #b2b2b2;
  transition: 0.3s;
  width: 40%;
  /* border-radius: 5px; */
  justify-self: center;
}
.card:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.each-product {
  /* box-shadow: 0 4px 8px 0 #b2b2b2; */
  transition: 0.3s;
}
.each-product:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#shop {
  margin-bottom: 30px;
}

.featured-product {
  display: flex;
  list-style: none;
  justify-content: center;
  /* padding: 10px; */
  gap: 57px;
}

.featured-product li {
  margin: 15px;
  padding-bottom: 2px;
  border-bottom: 2px solid #7fad39;
}
.top-product {
  padding: 5px 0px 2px 80px;
  font-weight: 600;
}
#ads {
  display: flex;
  margin-top: 86px;
  column-gap: 115px;
}
/* .ads {
  width: 40%;
  padding: 10px;
  margin: 10px;
} */
.ads img {
  width: 92%;
}
.post-details {
  font-size: 13px;
  color: #b2b2b2;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}
#fresh {
  width: 95%;
  padding: 10px;
}

#footer {
  background-color: #f3f6fa;
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  /* align-items: center; */
  grid-template-columns: 3fr 2fr 3fr;
  /* column-gap: 75px; */
}
#footer p {
  font-size: 13px;
  padding: 10px 0px 5px 0px;
}
#links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#links ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  padding: 10px 0px 5px 0px;
}

#links ul li {
  font-size: 13px;
  padding: 5px 0px 5px 0px;
}
